header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1{
    color: #212121;
    /* background-color: #FFC000; */
    background-color: #FFC000;
    border-radius: 15px;
    padding-left: 12px;
    padding-right: 12px;
}

.headline {
    /* margin: 0; */
    text-align: center;
    /* background-color: #FFC000; */
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: red;
    font-weight: 900;
    font-size: 1.3rem;

}

.nav-link{
    color: #212121;
    text-decoration: none;
}